:root {
    --color-primary: #006b3c;
    --color-primary-light: #009b56;
    --color-secondary: #fdcc0d;
    --color-secondary-light: #fdd330;
    --color-secondary-dark: #caa101;
    --color-tertiary: #69359c;
    --color-tertiary-dark: #4d2773;
    --color-tertiary-light: #c5a5d2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-light-5: #f7f7f7;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #f99e22;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*-- iPhone X to XII Remove Gutters --*/
html {
    padding: env(safe-area-inset);
    margin: 0;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

}

.container-style {
    margin-top: 3rem;

}
